<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>[ok]</key>
	<string>056</string>
	<key>[不要]</key>
	<string>055</string>
	<key>[互粉]</key>
	<string>075</string>
	<key>[亲亲]</key>
	<string>027</string>
	<key>[伤心]</key>
	<string>066</string>
	<key>[偷笑]</key>
	<string>015</string>
	<key>[兔子]</key>
	<string>053</string>
	<key>[勾引]</key>
	<string>058</string>
	<key>[可爱]</key>
	<string>009</string>
	<key>[右哼哼]</key>
	<string>030</string>
	<key>[吃惊]</key>
	<string>018</string>
	<key>[咖啡]</key>
	<string>068</string>
	<key>[哈哈]</key>
	<string>002</string>
	<key>[哈欠]</key>
	<string>034</string>
	<key>[哼]</key>
	<string>008</string>
	<key>[啤酒]</key>
	<string>072</string>
	<key>[喜欢]</key>
	<string>003</string>
	<key>[嘘]</key>
	<string>032</string>
	<key>[嘻嘻]</key>
	<string>001</string>
	<key>[围巾]</key>
	<string>079</string>
	<key>[围观]</key>
	<string>046</string>
	<key>[太阳]</key>
	<string>071</string>
	<key>[奥特曼]</key>
	<string>052</string>
	<key>[委屈]</key>
	<string>033</string>
	<key>[威武]</key>
	<string>047</string>
	<key>[害羞]</key>
	<string>038</string>
	<key>[左哼哼]</key>
	<string>031</string>
	<key>[差劲]</key>
	<string>062</string>
	<key>[帽子]</key>
	<string>083</string>
	<key>[弱]</key>
	<string>043</string>
	<key>[强]</key>
	<string>042</string>
	<key>[微笑]</key>
	<string>012</string>
	<key>[心]</key>
	<string>065</string>
	<key>[快哭了]</key>
	<string>039</string>
	<key>[怒]</key>
	<string>010</string>
	<key>[怒骂]</key>
	<string>019</string>
	<key>[思考]</key>
	<string>025</string>
	<key>[悲伤]</key>
	<string>024</string>
	<key>[手套]</key>
	<string>080</string>
	<key>[抓狂]</key>
	<string>007</string>
	<key>[抱抱]</key>
	<string>028</string>
	<key>[拜拜]</key>
	<string>040</string>
	<key>[拳头]</key>
	<string>061</string>
	<key>[挖鼻屎]</key>
	<string>021</string>
	<key>[挤眼]</key>
	<string>037</string>
	<key>[握手]</key>
	<string>063</string>
	<key>[敲打]</key>
	<string>035</string>
	<key>[晕]</key>
	<string>004</string>
	<key>[月亮]</key>
	<string>070</string>
	<key>[树叶]</key>
	<string>084</string>
	<key>[汗]</key>
	<string>011</string>
	<key>[汽车]</key>
	<string>049</string>
	<key>[泪]</key>
	<string>005</string>
	<key>[浮云]</key>
	<string>045</string>
	<key>[熊猫]</key>
	<string>054</string>
	<key>[爱你]</key>
	<string>060</string>
	<key>[爱心]</key>
	<string>051</string>
	<key>[猪头]</key>
	<string>067</string>
	<key>[玫瑰]</key>
	<string>064</string>
	<key>[生病]</key>
	<string>026</string>
	<key>[疑问]</key>
	<string>036</string>
	<key>[白眼]</key>
	<string>029</string>
	<key>[相机]</key>
	<string>048</string>
	<key>[睡觉]</key>
	<string>013</string>
	<key>[礼物]</key>
	<string>074</string>
	<key>[给力]</key>
	<string>044</string>
	<key>[耶]</key>
	<string>059</string>
	<key>[自行车]</key>
	<string>077</string>
	<key>[色]</key>
	<string>022</string>
	<key>[萌]</key>
	<string>073</string>
	<key>[蛋糕]</key>
	<string>078</string>
	<key>[衰]</key>
	<string>017</string>
	<key>[赞]</key>
	<string>057</string>
	<key>[足球]</key>
	<string>085</string>
	<key>[鄙视]</key>
	<string>020</string>
	<key>[酷]</key>
	<string>016</string>
	<key>[钟]</key>
	<string>076</string>
	<key>[钱]</key>
	<string>014</string>
	<key>[雪人]</key>
	<string>082</string>
	<key>[雪花]</key>
	<string>081</string>
	<key>[飞机]</key>
	<string>050</string>
	<key>[馋嘴]</key>
	<string>006</string>
	<key>[麦克风]</key>
	<string>069</string>
	<key>[黑线]</key>
	<string>041</string>
	<key>[鼓掌]</key>
	<string>023</string>
</dict>
</plist>
